---
import { replaceUrls } from "../utils/replaceUrls";
type Props = {
  classes: string;
  styles: string;
  label: string;
  url: string;
};
const { classes, styles, label, url } = Astro.props;
const href = replaceUrls(url, Astro.url.host);
---

<li class={classes} style={styles}>
  <a href={href} class="block px-6 sm:px-0 py-3 sm:py-0">
    {label}
  </a>
</li>
